/bin/
/nbproject/private/
/build/
*.properties
nbproject/project.properties
/dist/
*.properties
.idea/ant.xml
.idea/ant.xml
.idea/ant.xml
.idea/misc.xml
.idea/vcs.xml
nbproject/configs/chatting_section (1).properties
nbproject/project.properties
