USE [master]
GO
/****** Object:  Database [ChatJava]    Script Date: 11/27/2022 10:45:14 AM ******/
CREATE DATABASE [ChatJava]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChatJava', FILENAME = N'D:\NAM 2\CSDL\SourceSQL\ChatJava.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ChatJava_log', FILENAME = N'D:\NAM 2\CSDL\SourceSQL\ChatJava_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChatJava].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChatJava]
GO
/****** Object:  User [root]    Script Date: 11/27/2022 10:45:14 AM ******/
CREATE USER [root] FOR LOGIN [root] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [root]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [root]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [root]
GO
ALTER ROLE [db_datareader] ADD MEMBER [root]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [root]
GO
/****** Object:  Table [dbo].[DanhSachBanBe]    Script Date: 11/27/2022 10:45:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachBanBe](
	[UsernameChinh] [nvarchar](50) NOT NULL,
	[UsernameBanBe] [nvarchar](50) NOT NULL,
	[NgayKetBan] [datetime] NULL,
 CONSTRAINT [PK_DanhSachBanBe] PRIMARY KEY CLUSTERED 
(
	[UsernameChinh] ASC,
	[UsernameBanBe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachTinNhan]    Script Date: 11/27/2022 10:45:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachTinNhan](
	[ID] [nchar](10) NOT NULL,
	[NguoiGui] [nvarchar](50) NOT NULL,
	[NguoiNhan] [nvarchar](50) NOT NULL,
	[IDNhom] [nchar](10) NULL,
 CONSTRAINT [PK_DanhSachTinNhan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuDangNhap]    Script Date: 11/27/2022 10:45:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuDangNhap](
	[Username] [nvarchar](50) NOT NULL,
	[NgayDangNhap] [datetime] NOT NULL,
	[NgayDangXuat] [datetime] NOT NULL,
 CONSTRAINT [PK_LichSuDangNhap] PRIMARY KEY CLUSTERED 
(
	[Username] ASC,
	[NgayDangNhap] ASC,
	[NgayDangXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomChat]    Script Date: 11/27/2022 10:45:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomChat](
	[IDNhom] [nchar](10) NOT NULL,
	[TenNhom] [nvarchar](100) NOT NULL,
	[NgayTao] [datetime] NULL,
 CONSTRAINT [PK_NhomChat_1] PRIMARY KEY CLUSTERED 
(
	[IDNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/27/2022 10:45:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhVienNhomChat]    Script Date: 11/27/2022 10:45:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhVienNhomChat](
	[IDNhom] [nchar](10) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[ChucNang] [bit] NULL,
	[NgayThem] [datetime] NULL,
 CONSTRAINT [PK_ThanhVienNhomChat_1] PRIMARY KEY CLUSTERED 
(
	[IDNhom] ASC,
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinNhan]    Script Date: 11/27/2022 10:45:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinNhan](
	[ID] [nchar](10) NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[NoiDung] [nvarchar](2000) NULL,
 CONSTRAINT [PK_TinNhan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF_TaiKhoan_GioiTinh]  DEFAULT ((0)) FOR [GioiTinh]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF_TaiKhoan_TrangThai]  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ThanhVienNhomChat] ADD  CONSTRAINT [DF_ThanhVienNhomChat_ChucNang]  DEFAULT ((0)) FOR [ChucNang]
GO
ALTER TABLE [dbo].[DanhSachBanBe]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachBanBe_TaiKhoan] FOREIGN KEY([UsernameChinh])
REFERENCES [dbo].[TaiKhoan] ([Username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhSachBanBe] CHECK CONSTRAINT [FK_DanhSachBanBe_TaiKhoan]
GO
ALTER TABLE [dbo].[DanhSachBanBe]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachBanBe_TaiKhoan1] FOREIGN KEY([UsernameBanBe])
REFERENCES [dbo].[TaiKhoan] ([Username])
GO
ALTER TABLE [dbo].[DanhSachBanBe] CHECK CONSTRAINT [FK_DanhSachBanBe_TaiKhoan1]
GO
ALTER TABLE [dbo].[DanhSachTinNhan]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachTinNhan_NhomChat] FOREIGN KEY([IDNhom])
REFERENCES [dbo].[NhomChat] ([IDNhom])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DanhSachTinNhan] CHECK CONSTRAINT [FK_DanhSachTinNhan_NhomChat]
GO
ALTER TABLE [dbo].[LichSuDangNhap]  WITH CHECK ADD  CONSTRAINT [FK_LichSuDangNhap_TaiKhoan] FOREIGN KEY([Username])
REFERENCES [dbo].[TaiKhoan] ([Username])
GO
ALTER TABLE [dbo].[LichSuDangNhap] CHECK CONSTRAINT [FK_LichSuDangNhap_TaiKhoan]
GO
ALTER TABLE [dbo].[ThanhVienNhomChat]  WITH CHECK ADD  CONSTRAINT [FK_ThanhVienNhomChat_NhomChat] FOREIGN KEY([IDNhom])
REFERENCES [dbo].[NhomChat] ([IDNhom])
GO
ALTER TABLE [dbo].[ThanhVienNhomChat] CHECK CONSTRAINT [FK_ThanhVienNhomChat_NhomChat]
GO
ALTER TABLE [dbo].[ThanhVienNhomChat]  WITH CHECK ADD  CONSTRAINT [FK_ThanhVienNhomChat_TaiKhoan] FOREIGN KEY([Username])
REFERENCES [dbo].[TaiKhoan] ([Username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThanhVienNhomChat] CHECK CONSTRAINT [FK_ThanhVienNhomChat_TaiKhoan]
GO
ALTER TABLE [dbo].[TinNhan]  WITH CHECK ADD  CONSTRAINT [FK_TinNhan_DanhSachTinNhan] FOREIGN KEY([ID])
REFERENCES [dbo].[DanhSachTinNhan] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TinNhan] CHECK CONSTRAINT [FK_TinNhan_DanhSachTinNhan]
GO
USE [master]
GO
